@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #fff;
    font-size: 30px;
    font-family: Roboto;
}

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}

textarea, input, select{
    border: 2px solid #111;
}

textarea:focus, input[type="text"]:focus{
    outline: 1px solid blue;
}

textarea{
    width: 100%;
    height: 100px;
}

input[type="radio"]{
    appearance: radio;
}

input[type="checkbox"]{
    appearance: checkbox;
}

button{
    background-color: brown;
    border: 1px solid black;
}