:root {
    --site-color-01: #c13584;
    --site-color-01-hover: #9e2f6e;

}

html {
    font-size: 62.5%;
}

body {
    background-color: #1e1e1e;
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/facebook-color.png) url(../img/instagram-color.png);
}

.burger-menu,
.burger-menu-btn {
    display: none;
}

.wrapper-main {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 2.6rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 2.8rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 2.6rem;
    line-height: 1.5;
    color: #fff;
    font-family: Roboto;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    line-height: 1.75;
    color: #fff;
    font-family: Roboto;
}

a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: Roboto;
    cursor: pointer;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo {
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img {
    width: 80px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
}

.header-main-nav ul {
    list-style: none;
    margin-left: 30px;
}

.header-main-nav ul li {
    display: inline;
    float: left;
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover {
    color: #c13584;
}

.header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-main-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-fb:hover {
    background-image: url(../img/facebook-color.png);
}

.header-main-sm-ig {
    width: 20px;
    height: 20px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-ig:hover {
    background-image: url(../img/instagram-color.png);
}

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color: #141414;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemony {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemony img {
    width: 50%;
    border-radius: 100px;
}

.footer-testemony p {
    text-align: center;
    font-size: 1.6rem;
    padding: 20px 20px 0;
}

.footer-link {
    padding: 10px 20px;
    margin: 40px 0 60px;
    border: 2px solid #fff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.footer-link:hover {
    border: 2px solid var(--site-color-01);
}

.footer-sitemap {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.footer-sitemap a {
    line-height: 30px;
    max-width: 30px;
}

.footer-sitemap a:hover {
    opacity: 0.8;
    transition: all ease-in-out 200ms;
}

.footer-sitemap>:nth-child(1) {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
}

.footer-sitemap:nth-child(1),
.footer-sitemap:nth-child(2) {
    flex-basis: 180px;
}

.footer-sitemap:nth-child(3) {
    flex-basis: 380px;
}

.footer-sitemap p {
    text-transform: uppercase;
}

.footer-sitemap:nth-child(4) {
    flex-grow: 1;
}

.footer-sitemap:nth-child(4) p {
    text-align: right;
}

.footer-sitemap:nth-child(4) li {
    clear: both;
    float: right;
}

@media only screen and (max-width: 600px) {

    .burger-menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        background-image: url(../img/menu.png), url(../img/close.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center, center left 50px;
    }

    .burger-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: #111;
    }

    .burger-menu ul {
        width: 100%;
        height: calc(100vh-60px);
        display: wrap;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .burger-menu ul li {
        flex-basis: 100%;
        border-top: 2px solid #000;
    }

    .burger-menu ul li:last-child {
        border-bottom: 2px solid #000;
    }

    .burger-menu ul li a {
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center;
    }

    .wrapper-main {
        width: calc(100% - 40px);
    }

    .header-main-logo {
        padding-left: 20px;
    }

    .header-main-nav {
        display: none;
    }

    .header-main-sm {
        padding-right: 20px;
    }

    .footer-testemony {
        display: none;
    }

    .footer-link {
        margin: 0 0 60px;
    }

    .footer-sitemap {
        flex-wrap: wrap;
    }

    .footer-sitemap>:nth-child(1) {
        border-left: none;
        padding-left: 0;
    }

    .footer-sitemap:nth-child(1),
    .footer-sitemap:nth-child(2),
    .footer-sitemap:nth-child(2) {
        flex-basis: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-sitemap p {
        padding: 0 20px;
    }

    .footer-sitemap:nth-child(4) {
        flex-grow: 1;
    }

    .footer-sitemap:nth-child(4) p {
        text-align: center;
    }
}